body {
  font-family: sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  width:100vw;
  height: 100vh;
  overflow: hidden;
  padding:0;
  margin:0;
}

#question-container {
  display: grid;
  grid-template-areas:
    "question image"
    "answers  answers";
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background: #fff;
  padding: 1rem;
}

.question-area {
  grid-area: question;
}

.image-area {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-area img {
  max-width: 100%;
  height: auto;
  background: #ddd;
  padding: 1rem;
}

.answers-grid {
  grid-area: answers;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.answer-button {
  padding: 1rem;
  background: #ddd;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

#top-banner,
#bot-banner {
  background-color: #fdd200;
  padding: 0.5rem;
  font-weight: bold;
  width:100vw;
}

#bot-banner{
  background-color: black;
  position: fixed;
  bottom: 0;
  color:white;
}

